$secondaryTextColor: #ffffff;
$headerListColor: rgba(255, 255, 255, 0.8);
$buttonBorderColor: rgba(255, 255, 255, 0.1);
$buttonBackgroundColor: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
$cardTextColor: #151718;
$heroTitleColor: rgba(0, 0, 0, 0);
$mainTextColor: rgba(255, 255, 255, 0.8);
$investorTextXolor: rgba(255, 255, 255, 0.7);
$programTextColor: #8673fd;
$companiesTitleColor: rgba(255, 255, 255, 0.5);
$footerNewBackgroundColor: #624de3;
$borderColor: #4c5155;