ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button:hover,
button:focus {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #151718;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #151718;
  transform: translateX(100%);
  transition-duration: 350ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-button-open {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.menu-button__close {
  fill: #ffffff;
}

.menu-button-close {
  border: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  padding-right: 20px;
}

.menu-box {
  margin-top: 20px;
  margin-bottom: 243px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.gategories {
  background-color: #151718;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.gategories-option {
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: rgba(255, 255, 255, 0.8);
  background-color: #151718;
  cursor: pointer;
  transition-property: color;
  transition-duration: 450ms;
}

.gategories:hover,
.gategories:focus {
  color: #4c5155;
  transition-duration: 450ms;
}

.mobile__list-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #151718;
  font-weight: 600;
  font-size: 13px;
  line-height: 173%;
  color: #ffffff;
  border-radius: 6px;
  padding: 4px 16px;
  margin-right: 8px;
  transition-duration: 350ms;
  transition-property: all;
}

.mobile__button:hover,
.mobile__button:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  color: #ffffff;
  border-radius: 6px;
  padding: 4px 16px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.mobile__button-second {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  font-weight: 600;
  font-size: 13px;
  line-height: 173%;
  color: #ffffff;
  border-radius: 6px;
  padding: 4px 16px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 350ms;
  transition-property: all;
}

.mobile__button-second:hover,
.mobile__button-second:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #151718;
  background: none;
  box-shadow: none;
}

.menu-box__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 450ms;
}

.menu-box__link:hover,
.menu-box__link:focus {
  color: #4c5155;
}

.menu-box__item:not(:last-child) {
  margin-bottom: 40px;
}

.header-svg {
  fill: #ffffff;
}

.mobile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-logo {
  display: none;
}

.desktop-box {
  display: none;
}

.desktop__list-button {
  display: none;
}

.header__mobile-menu {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #4c5155;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .mobile-wrap {
    display: none;
  }
  .header__mobile-menu {
    display: none;
  }
  .desktop-logo {
    display: block;
  }
  .desktop-box {
    display: block;
  }
  .desktop__list-button {
    display: block;
  }
  .header__desktop {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #4c5155;
    display: flex;
    align-items: center;
  }
  .desktop-box {
    display: flex;
    margin-left: 72px;
    margin-right: 40px;
  }
  .desktop-box__item:not(:last-child) {
    margin-right: 20px;
  }
  .desktop__list-button {
    display: flex;
  }
}
@media screen and (min-width: 1120px) {
  .desktop-box {
    margin-left: 315px;
    margin-right: 160px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#624de3, #000);
  border-radius: 8px;
  padding: 20px;
  transition-duration: 350ms;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition-duration: 350ms;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 700px;
  min-height: 282px;
  border-radius: 24px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 99;
  transition-duration: 350ms;
}

.modal__close-button {
  background-color: transparent;
  border: none;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  width: 181px;
  margin: 0 auto;
}

.modal__form-wrap {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.modal__mail {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 70px;
  margin-right: 15px;
  color: #ffffff;
}

.modal__mail::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.modal__mail::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.modal__password {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 70px;
  color: #ffffff;
}

.modal__password::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.modal__password::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.modal__eye {
  fill: #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal__wrap {
  position: relative;
}

.modal__link {
  position: absolute;
  right: 20px;
  top: 160px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.modal__button {
  background-color: #8673fd;
  border: 1px solid #8673fd;
  padding: 7px 52px;
  color: #ffffff;
  border-radius: 27px;
  margin: 0 auto;
}

#submit {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.modal__button:hover {
  background-color: transparent;
  border: none;
  padding: 7px 52px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 27px;
}

.modal__text {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

.modal__sign-up {
  font-weight: 700;
  font-size: 13px;
  color: #8673fd;
  margin-left: 5px;
}

.modal__text-wrap {
  display: flex;
  justify-content: center;
}

.hero {
  padding-top: 50px;
}

.hero__subtitle-wrap {
  background-color: #ffffff;
  border-radius: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 240%;
  color: #151718;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 36px;
}

.hero__black-point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #151718;
  padding-right: 8px;
}

.hero__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 300%;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), #624de3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.hero__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 218%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 290px;
  margin: 0 auto;
}

.hero__first-button {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid #4c5155;
  padding: 12px 20px;
  border-radius: 8px;
  transition-duration: 350ms;
}

.hero__first-button:hover,
.hero__first-button:focus {
  color: #ffffff;
  border: 1px solid #4c5155;
  background: none;
  background-color: #151718;
  box-shadow: none;
}

.hero__second-button {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  border: 1px solid #4c5155;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #151718;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 20px;
  transition-duration: 350ms;
}

.hero__second-button:hover,
.hero__second-button:focus {
  color: #ffffff;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid #4c5155;
}

.hero__arrow {
  fill: #ffffff;
  margin-left: 8px;
}

.hero__list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.hero__img-wrap {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

@media screen and (min-width: 480px) {
  .hero__subtitle-wrap {
    width: 400px;
  }
  .hero__subtitle {
    font-size: 14px;
    line-height: 171%;
  }
  .hero__title {
    font-size: 36px;
    line-height: 200%;
    letter-spacing: -0.03em;
  }
  .hero__text {
    font-size: 14px;
    line-height: 171%;
    width: 450px;
  }
  .hero__list-button {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }
  .hero__img-wrap {
    margin-top: 30px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__subtitle-wrap {
    width: 450px;
  }
  .hero__subtitle {
    font-size: 16px;
    line-height: 150%;
  }
  .hero__title {
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 160%;
    width: 590px;
  }
  .hero__list-button {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  .hero__img-wrap {
    margin-top: 45px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .hero__subtitle-wrap {
    width: 420px;
    margin-bottom: 40px;
  }
  .hero__subtitle {
    font-size: 15px;
    line-height: 151%;
  }
  .hero__title {
    font-size: 64px;
    line-height: 112%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
  .hero__list-button {
    margin-top: 40px;
  }
  .hero__text {
    width: 590px;
  }
  .hero__img-wrap {
    margin-top: 60px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
.investor {
  padding-top: 64px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.investor__svg {
  fill: #ffffff;
  transition-duration: 350ms;
}

.investor__svg:hover,
.investor__svg:focus {
  fill: #4c5155;
}

.investor__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 151%;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.investor__list {
  display: flex;
  justify-content: space-around;
}

.investor__item:nth-child(1) {
  display: none;
}

.investor__item:nth-child(4) {
  display: none;
}

.investor__item:nth-child(5) {
  display: none;
}

.investor__item:nth-child(6) {
  display: none;
}

.investor__item:nth-child(7) {
  display: none;
}

.investor__item:nth-child(8) {
  display: none;
}

@media screen and (min-width: 768px) {
  .investor__item:nth-child(1) {
    display: block;
  }
  .investor__item:nth-child(4) {
    display: block;
  }
}
@media screen and (min-width: 1120px) {
  .investor__item:nth-child(1) {
    display: none;
  }
  .investor__item:nth-child(6) {
    display: block;
  }
  .investor__item:nth-child(7) {
    display: block;
  }
  .investor__item:nth-child(8) {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .investor__item:nth-child(1) {
    display: none;
  }
  .investor__item:nth-child(4) {
    display: block;
  }
  .investor__item:nth-child(5) {
    display: block;
  }
  .investor__item:nth-child(6) {
    display: block;
  }
  .investor__item:nth-child(7) {
    display: block;
  }
  .investor__item:nth-child(8) {
    display: block;
  }
}
.companies {
  padding: 40px 0;
}
.companies__item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  background-image: radial-gradient(99.22% 111.43% at 10.17% 1.21%, rgb(29, 88, 192) 0%, rgb(21, 23, 24) 34.5472723246%);
  background-repeat: no-repeat;
}
.companies__item:not(:first-child) {
  display: none;
}
.companies__item:nth-child(2) {
  background: radial-gradient(139.96% 140.76% at 0.94% 0%, rgb(0, 150, 57) 0%, rgb(21, 23, 24) 22.7178439498%);
  background-repeat: no-repeat;
}
.companies__item:nth-child(3) {
  background: radial-gradient(66.32% 62.4% at -4.06% 16.87%, rgb(141, 74, 247) 0%, rgb(21, 23, 24) 100%);
  background-repeat: no-repeat;
}
.companies__item-first > .companies__info-wrap > .companies__link-wrap > .companies__sublist > .companies__subitem > .companies__link {
  background-color: #1D58C0;
}
.companies__item-second > .companies__info-wrap > .companies__link-wrap > .companies__sublist > .companies__subitem > .companies__link {
  background-color: #009639;
}
.companies__item-third > .companies__info-wrap > .companies__link-wrap > .companies__sublist > .companies__subitem > .companies__link {
  background-color: #8D4AF7;
}
.companies__info-wrap {
  padding: 0 45px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.companies__icon-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.companies__logo {
  fill: #ffffff;
}
.companies__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 151%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  text-align: center;
}
.companies__sublist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.companies__item-second > .companies__info-wrap > .companies__link-wrap > .companies__sublist {
  justify-content: center;
}
.companies__item-second > .companies__info-wrap > .companies__link-wrap > .companies__sublist > .companies__subitem:last-child {
  margin-left: 8px;
}
.companies__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.companies__link-icon {
  fill: #ffffff;
}
.companies__btn {
  display: flex;
  padding: 8px 38px 8px 46px;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #151718;
  align-items: center;
  border-radius: 40px;
  border: none;
  background-color: #ffffff;
  margin: 0 auto;
}
.companies__btn-icon-wrap {
  width: 20px;
  height: 20px;
  background-color: #151718;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.companies__btn-icon {
  fill: #ffffff;
}
.companies__text-wrap {
  padding: 30px 10px 20px 10px;
}
.companies__name {
  font-weight: 600;
  font-size: 19px;
  line-height: 162%;
  color: #ffffff;
  text-align: center;
}
.companies__position {
  font-size: 20px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.companies__text {
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.slider__list {
  display: flex;
}
.slider__item:nth-child(3) > .slider__point {
  background-color: #ffffff;
}
.slider__item:not(:last-child) {
  margin-right: 10px;
}
.slider__point {
  background-color: rgba(255, 255, 255, 0.5);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .companies__info-wrap {
    padding: 40px 125px;
    padding-bottom: 20px;
  }
  .companies__sublist {
    justify-content: space-evenly;
  }
  .companies__text-wrap {
    padding: 20px 10px 30px 10px;
  }
  .companies__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .companies {
    padding-top: 50px;
  }
  .companies__item {
    display: flex;
  }
  .companies__item-first > .companies__info-wrap > .companies__icon-wrap {
    margin-bottom: 89px;
  }
  .companies__item-second > .companies__info-wrap > .companies__icon-wrap {
    background-color: #009639;
    margin-bottom: 80px;
  }
  .companies__item-third > .companies__info-wrap > .companies__icon-wrap {
    background-color: #8D4AF7;
    margin-bottom: 87px;
  }
  .companies__info-wrap {
    padding: 40px;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .companies__icon-wrap {
    margin: 0 auto;
  }
  .companies__link-wrap {
    width: 200px;
  }
  .companies__text-wrap {
    padding: 40px 15px 80px 25px;
  }
  .companies__name {
    text-align: left;
  }
  .companies__position {
    justify-content: start;
  }
  .companies__text {
    font-size: 20px;
    text-align: left;
  }
  .slider {
    margin-top: 18px;
  }
}
@media screen and (min-width: 1150px) {
  .companies {
    padding-top: 140px;
    padding-bottom: 56px;
  }
  .companies__item {
    width: 800px;
    margin: 0 auto;
  }
  .companies__info-wrap {
    padding: 0 53.5px;
    padding-top: 68px;
    padding-bottom: 40px;
  }
  .companies__icon-wrap {
    margin-bottom: 88px;
  }
  .companies__sublist {
    margin-bottom: 60px;
  }
  .companies__text-wrap {
    padding: 40px 40px 80px 40px;
  }
}
.settings {
  padding: 40px 0;
}
.settings__main-wrap {
  margin-bottom: 70px;
}
.settings__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.settings__text {
  font-size: 11px;
  line-height: 218%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}
.settings__btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
}
.settings__btn-first {
  background-image: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.settings__btn-second {
  background-color: transparent;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}
.settings__player-icon {
  fill: #ffffff;
  margin-right: 8px;
}
.settings__item:not(:last-child) {
  margin-bottom: 25px;
}
.settings__title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.settings__icon {
  fill: #6666FF;
  margin-right: 6px;
}
.settings__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
}
.settings__subtext {
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.settings__card {
  padding: 40px 10px;
  padding-bottom: 142px;
  border: 1px solid #4c5155;
  border-radius: 24px;
}
.settings__card-list {
  margin-bottom: 40px;
}
.settings__card:nth-child(1) {
  margin-bottom: 30px;
  background-image: url(../img/settings/first-card-sm@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.settings__card:nth-child(2) {
  background-image: url(../img/settings/second-card-sm@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.settings__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.settings__card-text {
  font-size: 11px;
  line-height: 218%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.settings__card-btn {
  border-radius: 40px;
  border: none;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #151718;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  margin: 0 auto;
}
.settings__card-icon {
  background-color: #151718;
  border-radius: 50%;
  fill: #ffffff;
  margin-left: 8px;
}

@supports (background-image: url(../img/settings/first-card-sm@1x.webp)) {
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-sm@1x.webp);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-sm@2x.png);
  }
  @supports (background-image: url(../img/settings/first-card-sm@2x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-sm@2x.webp);
    }
  }
}
@supports (background-image: url(../img/settings/first-card-sm@1x.webp)) {
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-sm@1x.webp);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-sm@2x.png);
  }
  @supports (background-image: url(../img/settings/second-card-sm@2x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-sm@2x.webp);
    }
  }
}
@media screen and (min-width: 480px) {
  .settings__title {
    font-size: 36px;
    line-height: 156%;
    letter-spacing: -0.03em;
    width: 309px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .settings__text {
    font-size: 14px;
    line-height: 171%;
    width: 338px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .settings__btn-list {
    width: 300px;
    justify-content: space-between;
  }
  .settings-btn {
    margin-right: 16px;
  }
  .settings__item {
    width: 330px;
    margin: 0 auto;
  }
  .settings__card {
    padding: 40px 20px;
    padding-bottom: 142px;
    width: 360px;
    margin: 0 auto;
  }
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-mobile@1x.png);
  }
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-mobile@1x.png);
  }
  .settings__card-title {
    font-size: 31px;
    line-height: 125%;
    letter-spacing: -0.03em;
  }
  .settings__card-text {
    font-size: 14px;
    line-height: 171%;
    margin-bottom: 45px;
  }
  @supports (background-image: url(../img/settings/first-card-mobile@1x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-mobile@1x.webp);
    }
  }
}
@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-mobile@2x.png);
  }
  @supports (background-image: url(../img/settings/first-card-mobile@2x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-mobile@2x.webp);
    }
  }
}
@media screen and (min-width: 480px) {
  @supports (background-image: url(../img/settings/first-card-mobile@1x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-mobile@1x.webp);
    }
  }
}
@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-mobile@2x.png);
  }
  @supports (background-image: url(../img/settings/second-card-mobile@2x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-mobile@2x.webp);
    }
  }
}
@media screen and (min-width: 768px) {
  .settings {
    padding-bottom: 30px;
  }
  .settings__main-wrap {
    margin-bottom: 40px;
  }
  .settings__title {
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    width: 350px;
    margin-bottom: 40px;
  }
  .settings__text {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 40px;
    width: 496px;
  }
  .settings__item {
    width: 354px;
  }
  .settings__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .settings__item {
    margin: 0;
  }
  .settings__item:not(:last-child) {
    margin-bottom: 0;
  }
  .settings__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .settings__card {
    margin: 0;
  }
  .settings__card-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-tablet@1x.png);
    margin-bottom: 0;
  }
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-tablet@1x.png);
  }
  @supports (background-image: url(../img/settings/first-card-tablet@1x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-tablet@1x.webp);
    }
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-tablet@2x.png);
  }
  @supports (background-image: url(../img/settings/first-card-tablet@2x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-tablet@2x.webp);
    }
  }
}
@media screen and (min-width: 768px) {
  @supports (background-image: url(../img/settings/first-card-tablet@1x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-tablet@1x.webp);
    }
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-tablet@2x.png);
  }
  @supports (background-image: url(../img/settings/second-card-tablet@2x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-tablet@2x.webp);
    }
  }
}
@media screen and (min-width: 1150px) {
  .settings {
    padding: 80px 0;
  }
  .settings__main-wrap {
    margin-bottom: 80px;
  }
  .settings__item {
    width: 330px;
  }
  .settings__item:nth-child(-n+4) {
    margin-bottom: 0;
  }
  .settings__item:nth-child(-n+3) {
    margin-bottom: 64px;
  }
  .settings__card {
    padding: 40px;
    padding-bottom: 287px;
    width: 552px;
  }
  .settings__card-list {
    margin-bottom: 80px;
  }
  .settings__card-text {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 25px;
  }
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-desktop@1x.png);
    margin-bottom: 0;
  }
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-desktop@1x.png);
  }
  .settings__card:nth-child(2) > .settings__card-text {
    margin-bottom: 56px;
  }
  @supports (background-image: url(../img/settings/first-card-desktop@1x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-desktop@1x.webp);
    }
  }
}
@media screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 192dpi), screen and (min-width: 1150px) and (min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(1) {
    background-image: url(../img/settings/first-card-desktop@2x.png);
  }
  @supports (background-image: url(../img/settings/first-card-desktop@2x.webp)) {
    .settings__card:nth-child(1) {
      background-image: url(../img/settings/first-card-desktop@2x.webp);
    }
  }
}
@media screen and (min-width: 1150px) {
  @supports (background-image: url(../img/settings/first-card-desktop@1x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-desktop@1x.webp);
    }
  }
}
@media screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 192dpi), screen and (min-width: 1150px) and (min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 2dppx) {
  .settings__card:nth-child(2) {
    background-image: url(../img/settings/second-card-desktop@2x.png);
  }
  @supports (background-image: url(../img/settings/second-card-desktop@2x.webp)) {
    .settings__card:nth-child(2) {
      background-image: url(../img/settings/second-card-desktop@2x.webp);
    }
  }
}
.team {
  padding-top: 40px;
  padding-bottom: 40px;
}
.team__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 233%;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}
.team__describe {
  font-weight: 400;
  font-size: 11px;
  line-height: 218%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  max-width: 290px;
  display: flex;
  margin: 0 auto;
}
.team__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__btn-item {
  margin-top: 15px;
}
.team__btn-purple {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid #4c5155;
  padding: 12px 20px;
  border-radius: 8px;
}
.team__btn-black {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  background-color: transparent;
  padding: 12px 20px;
}
.team__list {
  display: none;
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 49px;
  }
  .team__title {
    font-size: 36px;
    line-height: 156%;
    letter-spacing: -0.03em;
  }
  .team__describe {
    font-size: 14px;
    line-height: 171%;
    max-width: 442px;
  }
  .team__btn-list {
    flex-direction: row;
    justify-content: center;
  }
  .team__btn-purple {
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .team__title {
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    padding-bottom: 40px;
  }
  .team__describe {
    font-size: 20px;
    line-height: 160%;
    max-width: 579px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 130px;
  }
}
.design {
  padding-top: 50px;
  padding-bottom: 50px;
}
.design__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}
.design__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design__item-one {
  border-radius: 24px;
  background-image: url(../img/design/first-card-sm@1x.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 140px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #4c5155;
  margin-bottom: 25px;
  max-width: 290px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .design__item-one {
    background-image: url(../img/design/first-card-sm@2x.png);
  }
}
.design__item-two {
  padding-top: 30px;
  padding-bottom: 140px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 24px;
  background-image: url(../img/design/second-card-sm@1x.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border: 1px solid #4c5155;
  margin-bottom: 25px;
  max-width: 290px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .design__item-two {
    background-image: url(../img/design/second-card-sm@2x.png);
  }
}
.design__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-bottom: 16px;
  text-align: center;
}
.design__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  max-width: 270px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.design__btn {
  border-radius: 40px;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #4c5155;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #151718;
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.design__btn:hover, .design__btn:focus {
  color: #ffffff;
  background-color: transparent;
}
.design__btn:hover .design__icon, .design__btn:focus .design__icon {
  transform: rotate(360deg);
}
.design__icon {
  border-radius: 16px;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  fill: #ffffff;
  background-color: #151718;
  transition: transform 1000ms ease-in-out;
}

@media screen and (min-width: 480px) {
  .design {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .design__item-one {
    background-image: url(../img/design/first-card-mobile@1x.png);
    max-width: 354px;
  }
  .design__item-two {
    background-image: url(../img/design/second-card-mobile@1x.png);
    max-width: 354px;
  }
  .design__title {
    font-size: 36px;
    line-height: 156%;
    letter-spacing: -0.03em;
  }
  .design__subtitle {
    font-size: 24px;
    line-height: 167%;
    letter-spacing: -0.04em;
  }
  .design__text {
    font-size: 16px;
    line-height: 150%;
    max-width: 324px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .design__item-one {
    background-image: url(../img/design/first-card-mobile@2x.png);
  }
  .design__item-two {
    background-image: url(../img/design/second-card-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .design__title {
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    padding-bottom: 70px;
  }
  .design__list {
    flex-direction: row;
    justify-content: space-around;
  }
  .design__item-one {
    background-image: url(../img/design/first-card-tablet@1x.png);
  }
  .design__item-two {
    background-image: url(../img/design/second-card-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .design__item-one {
    background-image: url(../img/design/first-card-tablet@2x.png);
  }
  .design__item-two {
    background-image: url(../img/design/second-card-tablet@2x.png);
  }
}
@media screen and (min-width: 1150px) {
  .design {
    padding-top: 159px;
    padding-bottom: 80px;
  }
  .design__title {
    padding-bottom: 80px;
  }
  .design__list {
    justify-content: center;
  }
  .design__item-one {
    background-image: url(../img/design/first-card-desktop@1x.png);
    max-width: 552px;
    margin-right: 16px;
  }
  .design__item-two {
    background-image: url(../img/design/second-card-desktop@1x.png);
    max-width: 552px;
  }
}
@media screen and (min-width: 1150px) and (min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 192dpi), screen and (min-width: 1150px) and (min-resolution: 2dppx) {
  .design .design__item-one {
    background-image: url(../img/design/first-card-desktop@2x.png);
  }
  .design .design__item-two {
    background-image: url(../img/design/second-card-desktop@2x.png);
  }
}
.proposition {
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #4c5155;
}
.proposition__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
  max-width: 238px;
  margin: 0 auto;
}
.proposition__btn-wrap {
  display: flex;
  justify-content: center;
}
.proposition__btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: #ffffff;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid #4c5155;
  padding: 12px 20px;
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .proposition__title {
    font-size: 36px;
    line-height: 156%;
    letter-spacing: -0.03em;
    max-width: 367px;
  }
}
@media screen and (min-width: 768px) {
  .proposition__title {
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    max-width: 496px;
  }
}
@media screen and (min-width: 1150px) {
  .proposition {
    padding-top: 80px;
    padding-bottom: 160px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #151718;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
}
.modal__close-wrap {
  display: flex;
  justify-content: end;
}
.modal__close-btn {
  margin-top: 20px;
  margin-right: 20px;
}
.modal__close-icon {
  width: 12px;
  height: 12px;
  fill: #ffffff;
}
.modal__title {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 113px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__input {
  min-width: 260px;
  min-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
}
.modal__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  opacity: 0.3;
  padding-left: 15px;
}
.modal__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  opacity: 0.3;
  padding-left: 15px;
}
.modal__eye {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  margin-right: 13px;
}
.modal__confidiration {
  font-size: 12px;
  color: #ffffff;
}
.modal__purple {
  font-weight: 700;
  color: #8673fd;
}
.modal__btn {
  background-color: #8673fd;
  border: 1px solid #8673fd;
  padding: 7px 52px;
  color: #ffffff;
  border-radius: 27px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 24px;
  margin-bottom: 25px;
}
.modal__btn:hover {
  background-color: none;
  color: #8673fd;
}
.modal__already {
  font-size: 13px;
  color: #ffffff;
}
.modal__sing-up {
  font-weight: 700;
  color: #8673fd;
}
.modal__sing-up:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 515px;
  }
  .modal__form {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer__logos {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer__logo {
  margin: 0 auto;
}
.footer__logo-icon {
  width: 82px;
  height: 24px;
}
.footer__describe {
  margin: 0 auto;
}
.footer__describe-icon {
  width: 184px;
  height: 24px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer__item {
  margin-left: 38px;
}
.footer__item:first-child {
  padding-bottom: 50px;
}
.footer__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 173%;
  color: #ffffff;
  padding-bottom: 17px;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.8);
}
.footer__new {
  border-radius: 16px;
  padding: 2px 8px;
  background-color: #624de3;
  font-weight: 600;
  font-size: 11px;
  line-height: 153%;
  color: #ffffff;
  margin-left: 8px;
}
.footer__secondary {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #4c5155;
}
.footer__list-secondary {
  display: flex;
  justify-content: space-around;
}
.footer__text-secondary {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.8);
}
.footer__describition {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.footer__describition-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=main.css.map */