<section class="companies">
  <div class="container">
    <div class="companies__wrap">
      <ul class="companies__list">
        <li class="companies__item companies__item-first">
          <div class="companies__info-wrap">
            <a href="#" class="companies__icon-wrap">
              <svg class="companies__logo" width="173" height="23">
                <use
                  href="./img/symbol-defs.svg#icon-companies-carrefour"
                ></use>
              </svg>
            </a>
            <div class="companies__link-wrap">
              <h2 class="companies__title">Integrated apps</h2>
              <ul class="companies__sublist">
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-brackets"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-dollar"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <button class="companies__btn">
              Case study
              <div class="companies__btn-icon-wrap">
                <svg class="companies__btn-icon" width="10" height="10">
                  <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="companies__text-wrap">
            <h2 class="companies__name">Jeremy Dahan</h2>
            <span class="companies__position">Design System Designer</span>
            <p class="companies__text">
              "Specify brought us confidence and ease of mind. Before, we used
              to be cautious and hesitant before updating our design tokens.
              We're now confident about updating a token, rolling back to a
              previous version, or even trying new ones."
            </p>
          </div>
        </li>
        <li class="companies__item companies__item-second">
          <div class="companies__info-wrap">
            <a href="#" class="companies__icon-wrap">
              <svg class="companies__logo" width="114" height="40">
                <use href="./img/symbol-defs.svg#icon-nortal"></use>
              </svg>
            </a>
            <div class="companies__link-wrap">
              <h2 class="companies__title">Integrated apps</h2>
              <ul class="companies__sublist">
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <button class="companies__btn">
              Case study
              <div class="companies__btn-icon-wrap">
                <svg class="companies__btn-icon" width="10" height="10">
                  <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="companies__text-wrap">
            <h2 class="companies__name">Andrew Smith</h2>
            <span class="companies__position">Head of Design Systems</span>
            <p class="companies__text">
              "Thanks to Specify, the mindset of the whole team has evolved, and
              it's really changed how everybody thinks about how they approach
              component design and development."
            </p>
          </div>
        </li>
        <li class="companies__item companies__item-third">
          <div class="companies__info-wrap">
            <a href="#" class="companies__icon-wrap">
              <svg class="companies__logo" width="76px" height="40">
                <use href="./img/symbol-defs.svg#icon-companies-pitch"></use>
              </svg>
            </a>
            <div class="companies__link-wrap">
              <h2 class="companies__title">Integrated apps</h2>
              <ul class="companies__sublist">
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-figma"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-brackets"></use>
                    </svg>
                  </a>
                </li>
                <li class="companies__subitem">
                  <a href="#" class="companies__link">
                    <svg class="companies__link-icon" width="24" height="24">
                      <use href="./img/symbol-defs.svg#icon-dollar"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <button class="companies__btn">
              Case study
              <div class="companies__btn-icon-wrap">
                <svg class="companies__btn-icon" width="10" height="10">
                  <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="companies__text-wrap">
            <h2 class="companies__name">Roy Van Rooijen</h2>
            <span class="companies__position">Product designer</span>
            <p class="companies__text">
              "The automation from design to code with Specify is incredibly
              powerful. The ability to reference the same tokens and assets in
              Figma — and in our codebase — saves us an incredible amount of
              time, while reducing manual, error-prone work.”
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="slider">
      <ul class="slider__list">
        <li class="slider__item">
          <div class="slider__point"></div>
        </li>
        <li class="slider__item">
          <div class="slider__point"></div>
        </li>
        <li class="slider__item">
          <div class="slider__point"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
