<section class="design">
    <div class="container">
    <h2 class="design__title">
        Design tokens are the heart
of your design system
    </h2>
    <ul class="design__list">
        <li class="design__item">
            <h3 class="design__subtitle">Design tokens and assets</h3>
             <p class="design__text">Specify supports colors, text styles, shadows,
                 dimensions, bitmaps, vectors, font files, and
                 many more. All of them are automatically synced
                 and updated.</p>
                 <div class="design__btn-wrap">
                    <button class="design__btn">
                        View documentation
                        <svg>
                            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                          </svg>
                    </button>
                 </div>
        </li>
        <li class="design__item">
            <h3 class="design__subtitle">Export production-ready code</h3>
            <p class="design__text">Use our templates to generate design tokens for
                any platform, ranging from CSS, Tailwind, React
                to React Native, Flutter, Style Dictionary and
                more.</p>
                <div class="design__btn-wrap">
                    <button class="design__btn">
                        Discover our templates
                        <svg>
                            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
                          </svg>
                    </button>
                </div>
        </li>
    </ul>
</div>
</section>