<footer>
  <div class="container">
    <div class="footer__primary">
      <div class="footer__logos">
        <a href="../index.html" class="footer__logo">
          <svg>
            <use href="../img/symbol-defs.svg#icon-logo"></use>
          </svg>
          Specify
        </a>
        <span class="footer__describe">
          <svg>
            <use href="../img/symbol-defs.svg#icon-footer-second-logo"></use>
          </svg>
          SOC 2 Type II Certified
        </span>
      </div>
      <div class="footer__list-wrap">
        <ul class="footer__list">
          <li class="footer__item">
            <h3 class="footer__product-title">Product</h3>
            <ul class="footer__product">
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Documentation</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Changelog</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Pricing</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Parsers</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text"
                  >SDTF
                  <span class="footer__new">NEW</span>
                </a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Use Cases</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Launch Week</a>
              </li>
              <li class="footer__product-item">
                <a href="#" class="footer__product-text">Feedback</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h3 class="footer__resources-title">Resources</h3>
            <ul class="footer__resources">
              <li class="footer__resources-item">
                <a href="#" class="footer__resources-text">Guide</a>
              </li>
              <li class="footer__resources-item">
                <a href="#" class="footer__resources-text">Blog</a>
              </li>
              <li class="footer__resources-item">
                <a href="#" class="footer__resources-text">Customers</a>
              </li>
              <li class="footer__resources-item">
                <a href="#" class="footer__resources-text">Help Center</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h3 class="footer__company-title">Company</h3>
            <ul class="footer__company">
              <li class="footer__company-item">
                <a href="#" class="footer__company-text">Press kit</a>
              </li>
              <li class="footer__company-item">
                <a href="#" class="footer__company-text">Climate</a>
              </li>
              <li class="footer__company-item">
                <a href="#" class="footer__company-text">Jobs</a>
              </li>
              <li class="footer__company-item">
                <a href="#" class="footer__company-text">Contact us</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h3 class="footer__community-title">Community</h3>
            <ul class="footer__community">
              <li class="footer__community-item">
                <a href="#" class="footer__community-text">Discord</a>
              </li>
              <li class="footer__community-item">
                <a href="#" class="footer__community-text">Twitter</a>
              </li>
              <li class="footer__community-item">
                <a href="#" class="footer__community-text">GitHub</a>
              </li>
              <li class="footer__community-item">
                <a href="#" class="footer__community-text">Dribbble</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__secondary">
      <ul class="footer__list-secondary">
        <li class="footer__item-secondary">
          <a href="#" class="footer__text-secondary">Privacy policy</a>
        </li>
        <li class="footer__item-secondary">
          <a href="#" class="footer__text-secondary">Terms of use</a>
        </li>
        <li class="footer__item-secondary">
          <a href="#" class="footer__text-secondary">Security</a>
        </li>
      </ul>
      <div class="footer__describition">
        <a href="#" class="footer__describition-link"
          >©2024 Specify · All rights reserved.</a
        >
      </div>
    </div>
  </div>
</footer>
