<section class="hero">
  <div class="container">
    <div class="hero__subtitle-wrap">
      <p class="hero__subtitle">Learn about the Specify Design Token Format</p>
      <div class="hero__black-point"></div>
    </div>
    <h1 class="hero__title">Your Design Token Engine</h1>
    <p class="hero__text">
      Flexible and powerful, Specify makes it easy to build the exact
    </p>
    <p class="hero__text">Design Token workflow your Design System needs.</p>
    <ul class="hero__list-button">
      <li class="hero__item-button">
        <button class="hero__first-button">Book demo</button>
      </li>
      <li class="hero__item-button">
        <button class="hero__second-button">
          Start for free
          <svg class="hero__arrow" width="20px" height="20px">
            <use href="../img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="hero__img-wrap">
      <picture>
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-sm@1x.png 1x,
            ../img/hero/background-sm@2x.png 2x
          "
          media="(min-width:320px)"
          type="image/png"
        />
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-sm@1x.webp 1x,
            ../img/hero/background-sm@2x.webp 2x
          "
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-mobile@1x.png 1x,
            ../img/hero/background-mobile@2x.png 2x
          "
          media="(min-width:480px)"
          type="image/png"
        />
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-mobile@1x.webp 1x,
            ../img/hero/background-mobile@2x.webp 2x
          "
          media="(min-width:480px)"
          type="image/webp"
        />
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-tablet@1x.png 1x,
            ../img/hero/background-tablet@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          class="reviews__icon"
          srcset="
            ../img/hero/background-tablet@1x.webp 1x,
            ../img/hero/background-tablet@2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          class="reviews__icon"
          srcset="
          ../img/hero/background-desktop@1x.png 1x,
          ../img/hero/background-desktop@2x.png 2x
          "
          media="(min-width:1344px)"
          type="image/png"
        />
        <source
          class="reviews__icon"
          srcset="
          ../img/hero/background-desktop@1x.webp 1x,
          ../img/hero/background-desktop@2x.webp 2x
          "
          media="(min-width:1344px)"
          type="image/webp"
        />
        <img
          src="../img/hero/background-desktop@1x.png"
          alt="hero__background"
        />
      </picture>
    </div>
  </div>
</section>
