<section class="proposition">
    <div class="container">
    <h2 class="proposition__title">Start automating your
        design system today</h2>
        <div class="proposition__btn-wrap">
            <button class="proposition__btn" up-modal-open>Book demo</button>
        </div>
<div class="backdrop is-hidden" up-modal>
    <div class="up">
        <div class="up__close-wrap">
            <button class="modal__close-btn" up-modal-close type="button">
                <svg class="modal__close-icon">
                    <use href="../img/symbol-defs.svg#icon-close-menu"></use>
                  </svg>
            </button>
        </div>
        <h3 class="up__title">Please, fill this form</h3>
        <form class="up__form">
            <label class="up__label">
              <input type="text" class="up__input" placeholder="UserName">             
            </label>
            <label class="up__label">
              <input type="email" class="up__input" placeholder="E-mail">
            </label>
            <label class="up__label">
              <input type="password" class="up__input" placeholder="Password">
              <svg class="up__eye">
                <use href="../img/symbol-defs.svg#icon-eye"></use>
              </svg>
            </label>
            <label class="up__label">
              <input type="password" class="up__input" placeholder="Confirm Password">
              <svg class="up__eye">
                <use href="../img/symbol-defs.svg#icon-eye"></use>
              </svg>
            </label>
             <label class="up__checkbox">
                <input type="checkbox" class="up__checkbox-input">
                <span class="up__confidiration">
                I Agree with <a href="#" class="up__purple">privacy</a> and <a href="#" class="up__purple">policy</a>
            </span>
             </label>
        </form>
        <div class="up__btn-wrap">
            <button class="up__btn">Sing up</button>
        </div>
        <p class="up__already">
            Already have an account? <a href="#" class="up__sing-up">Sing up</a>
        </p>
    </div>
</div>
    </div>
</section>