<section class="settings">
  <div class="container">
    <div class="settings__main-wrap">
      <h2 class="settings__title">Easy setup and instant output</h2>
      <p class="settings__text">
        Nothing has been more easy for designers and more customizable for
        developers
      </p>
      <ul class="settings__btn-list">
        <li class="settings__btn-item">
          <button class="settings__btn settings__btn-first">Book demo</button>
        </li>
        <li class="settings__btn-item">
          <button class="settings__btn settings__btn-second">
            <svg class="settings__player-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-player"></use>
            </svg>
            Watch video
          </button>
        </li>
      </ul>
    </div>
    <ul class="settings__card-list">
      <li class="settings__card">
        <h2 class="settings__card-title">Sync your tokens</h2>
        <p class="settings__card-text">
          Specify is natively compatible with Figma, GitHub, Notion, Raycast,
          and many more to come. Our REST API and CLI help you to connect even
          more.
        </p>
        <button class="settings__card-btn">
          Discover all available apps
          <svg class="settings__card-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="settings__card">
        <h2 class="settings__card-title">Customize outputs</h2>
        <p class="settings__card-text">
          Specify’s open source parsers help you generate design tokens and
          assets that match your company standards.
        </p>
        <button class="settings__card-btn">
          Discover all parsers
          <svg class="settings__card-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="settings__text-wrap">
      <ul class="settings__list">
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-track"></use>
            </svg>
            <h2 class="settings__subtitle">Stay flexible</h2>
          </div>
          <p class="settings__subtext">
            Sync tokens from multiple sources to one repository, extract them in
            any structure using our SDK, GitHub integration, or CLI. We got you
            covered once you want to scale.
          </p>
        </li>
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-people"></use>
            </svg>
            <h2 class="settings__subtitle">Reduce error margins</h2>
          </div>
          <p class="settings__subtext">
            Collaboration has never been easier, resulting in less errors and
            redundant meetings. Any change made is easily transferred and
            communicated with other teams.
          </p>
        </li>
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-flash"></use>
            </svg>
            <h2 class="settings__subtitle">Automate</h2>
          </div>
          <p class="settings__subtext">
            Automatically sync, convert, and optimize your design tokens and
            vectors. Set up automated pull request with our Github integration.
          </p>
        </li>
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-gear"></use>
            </svg>
            <h2 class="settings__subtitle">Save time</h2>
          </div>
          <p class="settings__subtext">
            Set up once, get benefits instantly. We guarantee time savings for
            you design and development teams while you keep doing what you’re
            good at and what you enjoy.
          </p>
        </li>
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-dash"></use>
            </svg>
            <h2 class="settings__subtitle">Prioritize quality</h2>
          </div>
          <p class="settings__subtext">
            When you’re able to put quality above anything else, it means your
            processes are well adopted. We can help you to prioritize the
            quality of your digital products.
          </p>
        </li>
        <li class="settings__item">
          <div class="settings__title-wrap">
            <svg class="settings__icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-earth"></use>
            </svg>
            <h2 class="settings__subtitle">Get the support you need</h2>
          </div>
          <p class="settings__subtext">
            We're here to help you to get the output you need. Feel free to
            challenge us if you think your output is not possible to generate!
            <span class="settings__span">Read more here</span>.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
