<section class="team">
    <div class="container">
    <h2 class="team__title">Trusted by product teams</h2>
    <span class="team__describe">Book your demo and start automating the distribution of your
        design — your team will love it.</span>
        <div class="team__btn-wrap">
            <button class="team__btn-purple">Book demo</button>
            <button class="team__btn-black">Get started with Specify</button>
        </div>
        <ul class="team__list">
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="#"></use>
                    </svg>
                   strapi
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <!-- <div class="team__img-wrap">
                        <picture class="team__img">
                            <source>
                        </picture>
                    </div> -->
            </li>
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="#"></use>
                    </svg>
                   Pocket
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <!-- <div class="team__img-wrap">
                        <picture class="team__img">
                            <source>
                        </picture>
                    </div> -->
            </li>
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="#"></use>
                    </svg>
                   makemusic
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <!-- <div class="team__img-wrap">
                        <picture class="team__img">
                            <source>
                        </picture>
                    </div> -->
            </li>
            <!-- <li>
                <svg>
                    <use href="#"></use>
                </svg>
            </li> -->
        </ul>
    </div>
</section>