<section class="team">
    <div class="container">
    <h2 class="team__title">Trusted by product teams</h2>
    <span class="team__describe">Book your demo and start automating the distribution of your
        design — your team will love it.</span>
       <ul class="team__btn-list">
        <li class="team__btn-item">
            <button class="team__btn-purple">Book demo</button>
            </li>
        <li class="team__btn-item">
            <button class="team__btn-black">Get started with Specify</button>
        </li>
       </ul>
        <ul class="team__list">
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="../img/symbol-defs.svg#icon-strapi"></use>
                      </svg>
                   strapi
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <div class="team__img-wrap">
                        <picture class="team__img">
                            <source srcset="./img/team/first-man-desktop@1x.png 1x, ./img/team/first-man-desktop@2x.png 2x" media="1200px" type="image/png">
                            <source srcset="./img/team/first-man-tablet@1x.png 1x, ./img/team/first-man-tablet@2x.png 2x" media="768px" type="image/png">
                            <source srcset="./img/team/first-man-desktop@1x.webp 1x, ./img/team/first-man-desktop@2x.webp 2x" media="1200px" type="image/webp">
                            <source srcset="./img/team/first-man-tablet@1x.webp 1x, ./img/team/first-man-tablet@2x.webp 2x" media="768px" type="image/webp">
                        </picture>
                    </div>
            </li>
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="../img/symbol-defs.svg#icon-pocket"></use>
                      </svg>
                   Pocket
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <div class="team__img-wrap">
                        <picture class="team__img">
                            <source srcset="./img/team/second-man-desktop@1x.png 1x, ./img/team/second-man-desktop@2x.png 2x" media="1200px" type="image/png">
                            <source srcset="./img/team/second-man-tablet@1x.png 1x, ./img/team/second-man-tablet@2x.png 2x" media="768px" type="image/png">
                            <source srcset="./img/team/second-man-desktop@1x.webp 1x, ./img/team/second-man-desktop@2x.webp 2x" media="1200px" type="image/webp">
                            <source srcset="./img/team/second-man-tablet@1x.webp 1x, ./img/team/second-man-tablet@2x.webp 2x" media="768px" type="image/webp">
                        </picture>
                    </div>
            </li>
            <li class="team__item">
                <h3 class="team__slider-title">
                    <svg>
                        <use href="../img/symbol-defs.svg#icon-makemusic"></use>
                      </svg>
                   makemusic
                </h3>
                <p class="team__text">"The automation from design to code
                    with Specify is incredibly powerful. The
                    ability to reference the same tokens and
                    assets in Figma — and in our codebase —
                    saves us an incredible amount of time,
                    while reducing manual, error-prone work.”</p>
                    <div class="team__img-wrap">
                        <picture class="team__img">
                            <source srcset="./img/team/third-man-desktop@1x.png 1x, ./img/team/third-man-desktop@2x.png 2x" media="1200px" type="image/png">
                            <source srcset="./img/team/third-man-tablet@1x.png 1x, ./img/team/third-man-tablet@2x.png 2x" media="768px" type="image/png">
                            <source srcset="./img/team/third-man-desktop@1x.webp 1x, ./img/team/third-man-desktop@2x.webp 2x" media="1200px" type="image/webp">
                            <source srcset="./img/team/third-man-tablet@1x.webp 1x, ./img/team/third-man-tablet@2x.webp 2x" media="768px" type="image/webp">
                        </picture>
                    </div>
            </li>
            <!-- <li>
                <svg>
                    <use href="#"></use>
                </svg>
            </li> -->
        </ul>
    </div>
</section>