.companies {
  padding: 40px 0;
  &__item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    background-image: radial-gradient(
      99.22% 111.43% at 10.17% 1.21%,
      rgb(29, 88, 192) 0%,
      rgb(21, 23, 24) 34.54727232456207%
    );
    background-repeat: no-repeat;
    &:not(:first-child) {
      display: none;
    }
    &:nth-child(2) {
      background: radial-gradient(
        139.96% 140.76% at 0.94% 0%,
        rgb(0, 150, 57) 0%,
        rgb(21, 23, 24) 22.71784394979477%
      );
      background-repeat: no-repeat;
    }
    &:nth-child(3) {
      background: radial-gradient(
        66.32% 62.4% at -4.06% 16.87%,
        rgb(141, 74, 247) 0%,
        rgb(21, 23, 24) 100%
      );
      background-repeat: no-repeat;
    }
  }
  &__item-first
    > .companies__info-wrap
    > .companies__link-wrap
    > .companies__sublist
    > .companies__subitem
    > .companies__link {
    background-color: $linkCarrefourColor;
  }
  &__item-second
    > .companies__info-wrap
    > .companies__link-wrap
    > .companies__sublist
    > .companies__subitem
    > .companies__link {
    background-color: $linkNortalColor;
  }
  &__item-third
    > .companies__info-wrap
    > .companies__link-wrap
    > .companies__sublist
    > .companies__subitem
    > .companies__link {
    background-color: $linkPitchColor;
  }
  &__info-wrap {
    padding: 0 45px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid $buttonBorderColor;
  }
  &__icon-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__logo {
    fill: $secondaryTextColor;
  }
  &__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 151%;
    text-transform: uppercase;
    color: $companiesTitleColor;
    margin-bottom: 16px;
    text-align: center;
  }
  &__sublist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__item-second
    > .companies__info-wrap
    > .companies__link-wrap
    > .companies__sublist {
    justify-content: center;
  }
  &__item-second
    > .companies__info-wrap
    > .companies__link-wrap
    > .companies__sublist
    > .companies__subitem:last-child {
    margin-left: 8px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__link-icon {
    fill: $secondaryTextColor;
  }
  &__btn {
    display: flex;
    padding: 8px 38px 8px 46px;
    font-weight: 600;
    font-size: 15px;
    line-height: 151%;
    color: $cardTextColor;
    align-items: center;
    border-radius: 40px;
    border: none;
    background-color: $secondaryTextColor;
    margin: 0 auto;
  }
  &__btn-icon-wrap {
    width: 20px;
    height: 20px;
    background-color: $cardTextColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
  &__btn-icon {
    fill: $secondaryTextColor;
  }
  &__text-wrap {
    padding: 30px 10px 20px 10px;
  }
  &__name {
    font-weight: 600;
    font-size: 19px;
    line-height: 162%;
    color: $secondaryTextColor;
    text-align: center;
  }
  &__position {
    font-size: 20px;
    line-height: 160%;
    color: $companiesTitleColor;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  &__text {
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: $secondaryTextColor;
  }
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  &__list {
    display: flex;
  }
  &__item:nth-child(3) > .slider__point {
    background-color: $secondaryTextColor;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__point {
    background-color: $companiesTitleColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 480px) {
  .companies {
    &__info-wrap {
      padding: 40px 125px;
      padding-bottom: 20px;
    }
    &__sublist {
      justify-content: space-evenly;
    }
    &__text-wrap {
      padding: 20px 10px 30px 10px;
    }
    &__text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .companies {
    padding-top: 50px;
    &__item {
      display: flex;
    }
    &__item-first > .companies__info-wrap > .companies__icon-wrap {
      margin-bottom: 89px;
    }
    &__item-second > .companies__info-wrap > .companies__icon-wrap {
      background-color: $linkNortalColor;
      margin-bottom: 80px;
    }
    &__item-third > .companies__info-wrap > .companies__icon-wrap {
      background-color: $linkPitchColor;
      margin-bottom: 87px;
    }
    &__info-wrap {
      padding: 40px;
      border-bottom: none;
      border-right: 1px solid $buttonBorderColor;
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      text-align: center;
    }
    &__icon-wrap {
      margin: 0 auto;
    }
    &__link-wrap {
      width: 200px;
    }
    &__text-wrap {
      padding: 40px 15px 80px 25px;
    }
    &__name {
      text-align: left;
    }
    &__position {
      justify-content: start;
    }
    &__text {
      font-size: 20px;
      text-align: left;
    }
  }
  .slider {
    margin-top: 18px;
  }
}

@media screen and (min-width: 1150px) {
  .companies {
    padding-top: 140px;
    padding-bottom: 56px;
    &__item {
      width: 800px;
      margin: 0 auto;
    }
    &__info-wrap {
      padding: 0 53.5px;
      padding-top: 68px;
      padding-bottom: 40px;
    }
    &__icon-wrap {
      margin-bottom: 88px;
    }
    &__sublist {
      margin-bottom: 60px;
    }
    &__text-wrap {
      padding: 40px 40px 80px 40px;
    }
  }
}
