.companies {
  padding: 40px 0;
  &__item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 0 45px;
  }
  &__info-wrap {
    padding-top: 50px;
  }
  &__logo {
    fill: $secondaryTextColor;
    margin-bottom: 40px;
  }
  &__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 151%;
    text-transform: uppercase;
    color: $companiesTitleColor;
    margin-bottom: 16px;
  }
  &__sublist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__link {
    width: 40px;
    height: 40px;
  }
  &__link-icon {
    fill: $secondaryTextColor;
  }
  &__btn {
    display: flex;
    padding: 8px 38px 8px 46px;
    font-weight: 600;
    font-size: 15px;
    line-height: 151%;
    color: $cardTextColor;
  }
}
