.design {
  padding-top: 50px;
  padding-bottom: 50px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.04em;
    text-align: center;
    color: $secondaryTextColor;
    padding-bottom: 40px;
  }
//   &__item-one{
//     border-radius: 24px;
//     background-image: url();
//   }
}
