.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $cardTextColor;
  transform: translateX(100%);
  transition-duration: 350ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-button-open {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu-button__close {
  fill: $secondaryTextColor;
}
.menu-button-close {
  border: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
}
.menu-box {
  margin-top: 20px;
  margin-bottom: 243px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.gategories {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: $headerListColor;
}
.gategories-option {
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: $headerListColor;
  background-color: $cardTextColor;
}
.mobile__list-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile__button {
  border: 1px solid $buttonBorderColor;
  background-color: $cardTextColor;
  font-weight: 600;
  font-size: 13px;
  line-height: 173%;
  color: $secondaryTextColor;
  border-radius: 6px;
  padding: 4px 16px;
  margin-right: 8px;
  transition-duration: 350ms;
  transition-property: all;
}
.mobile__button:hover,
.mobile__button:focus {
  border: 1px solid $buttonBorderColor;
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  color: $secondaryTextColor;
  border-radius: 6px;
  padding: 4px 16px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.mobile__button-second {
  border: 1px solid $buttonBorderColor;
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  font-weight: 600;
  font-size: 13px;
  line-height: 173%;
  color: $secondaryTextColor;
  border-radius: 6px;
  padding: 4px 16px;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 350ms;
  transition-property: all;
}
.mobile__button-second:hover,
.mobile__button-second:focus {
  border: 1px solid $buttonBorderColor;
  background-color: $cardTextColor;
  background: none;
  box-shadow: none;
}
.menu-box__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 173%;
  color: $headerListColor;
}
.menu-box__item:not(:last-child) {
  margin-bottom: 40px;
}
.header-svg {
  fill: $secondaryTextColor;
}
.mobile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-logo {
  display: none;
}
.desktop-box {
  display: none;
}
.desktop__list-button {
  display: none;
}
.header__mobile-menu {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $borderColor;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .mobile-wrap {
    display: none;
  }
  .header__mobile-menu{
    display: none;
  }
  .desktop-logo {
    display: block;
  }
  .desktop-box {
    display: block;
  }
  .desktop__list-button {
    display: block;
  }
  .header__desktop {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $borderColor;
    display: flex;
    align-items: center;
  }
  .desktop-box{
    display: flex;
    margin-left: 72px;
    margin-right: 40px;
  }
  .desktop-box__item:not(:last-child){
    margin-right: 20px;
  }
  .desktop__list-button{
    display: flex;
  }
}
@media screen and (min-width: 1120px) {
  .desktop-box{
    margin-left: 315px;
    margin-right: 160px;
  }
}
