.hero {
  padding-top: 50px;
}
.hero__subtitle-wrap {
  background-color: $secondaryTextColor;
  border-radius: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
  cursor: default;
}
.hero__subtitle-wrap:hover .hero__black-point{
  background-color: $footerNewBackgroundColor;
}
.hero__subtitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 240%;
  color: $cardTextColor;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 36px;
}
.hero__black-point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $cardTextColor;
  padding-right: 8px;
  transition-duration: 350ms;
}
.hero__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 300%;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, $headerListColor, $footerNewBackgroundColor);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
  cursor: default;
}
.hero__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 218%;
  text-align: center;
  color: $mainTextColor;
  width: 290px;
  margin: 0 auto;
  cursor: default;
}
.hero__first-button {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: $secondaryTextColor;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid $borderColor;
  padding: 12px 20px;
  border-radius: 8px;
  transition-duration: 350ms;
}
.hero__first-button:hover,
.hero__first-button:focus{
  color: $secondaryTextColor;
  border: 1px solid $borderColor;
  background: none;
  background-color: $cardTextColor;
  box-shadow: none;
}
.hero__second-button {
  font-weight: 600;
  font-size: 15px;
  line-height: 151%;
  color: $secondaryTextColor;
  border: 1px solid $borderColor;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: $cardTextColor;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 20px;
  transition-duration: 350ms;
}
.hero__second-button:hover,
.hero__second-button:focus{
  color: $secondaryTextColor;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  border: 1px solid $borderColor;
}
.hero__second-button:hover .hero__arrow{
  transform: rotate(180deg);
}
.hero__arrow {
  fill: $secondaryTextColor;
  margin-left: 8px;
  transition-duration: 350ms;
}
.hero__list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
.hero__img-wrap {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
@media screen and (min-width: 480px) {
  .hero__subtitle-wrap {
    width: 400px;
  }
  .hero__subtitle {
    font-size: 14px;
    line-height: 171%;
  }
  .hero__title {
    font-size: 36px;
    line-height: 200%;
    letter-spacing: -0.03em;
  }
  .hero__text {
    font-size: 14px;
    line-height: 171%;
    width: 450px;
  }
  .hero__list-button {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }
  .hero__img-wrap {
    margin-top: 30px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__subtitle-wrap {
    width: 450px;
  }
  .hero__subtitle {
    font-size: 16px;
    line-height: 150%;
  }
  .hero__title {
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 160%;
    width: 590px;
  }
  .hero__list-button {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  .hero__img-wrap {
    margin-top: 45px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1120px) {
  .hero__subtitle-wrap {
    width: 420px;
    margin-bottom: 40px;
  }
  .hero__subtitle {
    font-size: 15px;
    line-height: 151%;
  }
  .hero__title {
    font-size: 64px;
    line-height: 112%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
  .hero__list-button {
    margin-top: 40px;
  }
  .hero__text {
    width: 590px;
  }
  .hero__img-wrap {
    margin-top: 60px;
  }
  .hero__second-button {
    margin-top: 0;
    margin-left: 16px;
  }
}
